asgiref==3.8.1
distlib==0.3.8
Django==5.1
django-environ==0.11.2
filelock==3.13.1
pillow==10.4.0
platformdirs==4.2.0
setuptools==72.1.0
sqlparse==0.5.1
tzdata==2024.1
virtualenv==20.25.1
wheel==0.43.0
