{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content1 %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card color2" data-bs-theme="dark">
        <div class="card-header h1 text-white">Iniciar Sesion</div>

        <div class="card-body">

          <form action="{% url 'login' %}" method="post" class="formulario">
            {% csrf_token %}
            
            {% if form.non_field_errors %}              
              {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
              {% endfor %}              
            {% endif %}
            
            <div class="formulario-input">
              <input class="transparente{% if form.username.errors %} is-invalid{% endif %}" type="text" name="username" placeholder="Nombre de usuario" value="{{ form.username.value|default_if_none:'' }}">
              {% if form.username.errors %}
                  {{ form.username.errors }}
              {% endif %}
            </div>
            
            <div class="formulario-input">
              <input class="transparente{% if form.password.errors %} is-invalid{% endif %}" type="password" name="password" placeholder="Contraseña">                
                {% if form.password.errors %}                  
                  {{ form.password.errors }}                  
                {% endif %}              
            </div>
            
            <div class="formulario-boton">
              <button class="btn btn-dark" type="submit">Iniciar Sesión</button>
            </div>            
          </form>

          <div class="mt-2">
            <a href="{% url 'password_reset' %}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mb-3">Olvidé mi contraseña</a>
            <br>
            <p class="mt-2">Si no tienes cuenta <a href="{% url 'signup' %}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Regístrate</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
