{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block content1 %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card color2" data-bs-theme="dark">
        <div class="card-header h1 text-white">Contraseña Reestablecida</div>

        <div class="cardivody">

          <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.</p>

          <div class="mt-2">
            <a href="{% url 'login' %}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Iniciar sesion</a>
          </div>                    

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


