{% extends 'base.html' %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block content1 %}
<div class="container" data-bs-theme="dark" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Contraseña Restablecida</h2>
                </div>
                <div class="card-body text-center">
                    <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                    <a href="{% url 'login' %}" class="btn btn-warning mb-3 my-3">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


