{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block title %}Solicitud Enviada{% endblock %}

{% block content1 %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card color2" data-bs-theme="dark">
        <div class="card-header h1 text-white">Solicitud Enviada</div>
        
        <div class="card-body">
          <p>Si el correo electrónico está registrado, recibirás un enlace para restablecer tu contraseña.</p>

          <div class="mt-2">
            <a href="{% url 'login' %}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Volver al inicio de sesión</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
